@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
*{
    font-family: Outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  .small-image-container {
    overflow-x: auto; /* Ensure horizontal scrolling if needed */
    scrollbar-width: none; /* Firefox */
  }
  
  .small-image-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  
@media(max-width:640px){
    a.active {
        background-color: black;
        color: white;
    }
}